@using System.Runtime.InteropServices
@using FinanceAppASP.Controllers
@using FinanceAppCore

@model FinanceAppASP.Controllers.MainViewModel

@{
    ViewData["Title"] = "FinanceApp";
}

<div class="row">

    <div class="col-sm-12">

        <div class="card mainStack ">
            <div class="card-header">
                <small>Итог за неделю: @Model.Week</small>

                <form asp-action="AddDay">

                    <div class="form-row">

                        <div class="col">
                            <input class="form-control" type="date" required name="date" />
                        </div>

                        <input type="hidden" name="id" value="123" />

                        <button class="btn btn-outline-primary float-right">+</button>
                    </div>
                </form>
            </div>

            @{
                if (Model.DayList != null)
                {
                    foreach (var w in Model.DayList.OrderBy(w => w.Date))
                    {

                        @Html.Partial("DayView", w)

                    }
                }

            }

        </div>
    </div>

</div>
